body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-lgtb {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
    .navbar-lgtb .nav-link {
        color: white !important; /* Força o texto a ser branco */
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7); /* Adiciona uma sombra sutil para melhor legibilidade */
        opacity: 0.9; /* Ligeira transparência */
    }

        .navbar-lgtb .nav-link:hover {
            opacity: 1; /* Menos transparência ao passar o mouse */
        }