<div class="d-flex justify-content-center align-items-center vh-100 bg-light">

    <div class="text-center p-5 bg-white border rounded shadow">
        <h1 class="mb-4">Em Construção</h1>
        <p>Desculpe o incômodo. Estamos trabalhando para trazer novidades! Volte em breve.</p>
    </div>

</div>
